<section id="main-content">
    <section class="wrapper">
        <section id="container" class="">
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Choose a Template
                        </header>
                        <div class="row">
                            <div class="col-lg-6">
                                <app-cv1></app-cv1>
                            </div>
                            <div class="col-lg-6">
                                <app-cv2></app-cv2>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </section>
</section>