<section id="main-content">
  <section class="wrapper">
    <section id="container" class="">
      <div class="row">
        <div class="col-lg-12">
          <section class="panel">
            <header class="panel-heading">
              Education and Qualification
            </header>
            <div class="panel-body">
              <form class="form-horizontal" [formGroup]="EducationForm"  role="form">
                <h1>add Education</h1>
                <div formArrayName="educations" *ngFor="let creds of educations.controls; let i = index">
                  <ng-container [formGroupName]="i">
                    <div class="form-group">
                      <label  class="col-lg-2 control-label">Date Debut</label>
                      <div class="col-lg-10">
                        <input type="date" formControlName="dateDebut" class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label  class="col-lg-2 control-label">Date Fin</label>
                      <div class="col-lg-10">
                        <input type="date" formControlName="dateFin" class="form-control" >
                      </div>
                    </div> 
                    <div class="form-group">
                      <label class="col-lg-2 control-label">Description</label>
                      <div class="col-lg-10">
                        <textarea formControlName="description" class="form-control"  rows="3"></textarea>
                      </div>
                    </div> 
                    <div class="form-group" style="margin-bottom: 20px;margin-top: 20px;">
                      <div class="col-lg-offset-2 col-lg-10">
                        <button class="btn btn-primary" (click)="reset(i)" type="button">reset</button>
                        <!--<button type="submit" class="btn btn-primary" style="margin-right:20px;margin-left: 20px;">save</button>-->
                        <button class="btn btn-primary"  style="margin-right:20px;margin-left: 20px;" (click)="addEducation(i)" type="button">save</button>
                        <button class="btn btn-primary" (click)="delete(i)" type="button">delete</button>
                      </div>
                    </div>
                  </ng-container>
                </div>             
              </form>
              <p>
                <button class="btn btn-primary" (click)="addCreds()">Add</button>
            </p>
            </div>
          </section>
        </div>
      </div>
    </section>
  </section>
</section>