<section id="main-content">
    <section class="wrapper">
      <section id="container" class="">
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading">
               Hobbies
              </header>
              <div class="panel-body">
                <form class="form-horizontal" [formGroup]="HobbyForm" (ngSubmit)="onSubmit()" role="form">
                  <h1>add Hobby</h1>
                  <button class="btn btn-primary" (click)="addCreds()">Add</button>
                  <div formArrayName="credentials" *ngFor="let creds of HobbyForm.controls.credentials?.value; let i = index">
                    <ng-container [formGroupName]="i">
                      <div style="margin-top: 20px;" class="form-group">
                        <div class="col-lg-5">
                          <input type="text" formControlName="description" class="form-control">
                        </div>
                      </div>
                      <div class="form-group" style="margin-bottom: 20px;margin-top: 20px;">
                        <div class="col-lg-offset-2 col-lg-10">
                          <button class="btn btn-primary" (click)="reset(i)" type="button">reset</button>
                          <button type="submit" class="btn btn-primary" style="margin-right:20px;margin-left: 20px;">save</button>
                          <button class="btn btn-primary" (click)="delete(i)" type="button">delete</button>
                        </div>
                      </div>
                    </ng-container>
                  </div>             
                </form>
              </div>
            </section>
          </div>
        </div>
      </section>
    </section>
  </section>